
.navbar-inverse .navbar-nav > li > a.active {
    background: #ddd;
    text-decoration: none;
}

.campaign-list {
    background-color: #ddd;
    padding: 5px;
    margin-bottom: 5px;
}

.campaign {
    background-color: #fff;
    padding: 10px;
}

.keyword-list {
    background-color: #ddd;
    padding: 5px;
    margin-bottom: 5px;
}

.keyword {
    background-color: #34A3C5;
    padding: 10px;
}
