@import '_colors';

.adGroup-list {
  background-color: $list-color;
  padding: 5px;
  margin-bottom: 5px;
}

.adGroup {
  background-color: $adGroup-color;
  padding: 10px;
}

.adGroup p {
  margin: 0px;
}
