@import '_colors';

.keyword-list {
  background-color: $list-color;
  padding: 5px;
  margin-bottom: 5px;
}

.keyword {
  background-color: $keyword-color;
  padding: 10px;
}

.keyword p {
  margin: 0px;
}
