@import '_colors';

.navbar-inverse .navbar-nav > li > a.active {
  background: #ddd;
  text-decoration: none;
}

.keyword-list {
  background-color: $list-color;
  padding: 5px;
  margin-bottom: 5px;
}

.keyword {
  background-color: $keyword-color;
  padding: 10px;
}
