
md-toolbar {
  background: #ddd !important;
  color: #333 !important;
}

md-toolbar button {
  text-transform: none !important;
}

md-toolbar a.active {
  color: #eee !important;
  background: #333 !important;
}
