.row
    .col-md-5
        | Campaigns Template

    .col-md-7.campaign-list
        .campaign(ng-repeat="campaign in campaignCtrl.campaigns")
            p Campaign {{campaign.name}}

include ./_footer.jade