div(layout="row" layout-margin)
    div(flex="40")
        | Campaigns Template

    div(flex="60")
        table.campaign-list
            tr.campaign(ng-repeat="campaign in campaignCtrl.campaigns")
                td
                    | Campaign {{campaign.name}}
                td
                    | {{campaign.status}}
                td
                    | {{campaign.startDate}}

include ./_footer.jade

