@charset "UTF-8";

@font-face {
  font-family: "hyperion";
  src:url("hyperion.eot");
  src:url("hyperion.eot?#iefix") format("embedded-opentype"),
    url("hyperion.woff2") format("woff2"),
    url("hyperion.woff") format("woff"),
    url("hyperion.ttf") format("truetype"),
    url("hyperion.svg#hyperion") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "hyperion" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="qm-hyperion-icon-"]:before,
[class*=" qm-hyperion-icon-"]:before {
  font-family: "hyperion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qm-hyperion-icon-navigation-dashboard:before {
  content: "\e010";
}
.qm-hyperion-icon-navigation-optimization:before {
  content: "\e011";
}
.qm-hyperion-icon-navigation-publisher:before {
  content: "\e012";
}
.qm-hyperion-icon-navigation-report:before {
  content: "\e013";
}
.qm-hyperion-icon-navigation-search:before {
  content: "\e014";
}
.qm-hyperion-icon-navigation-social:before {
  content: "\e015";
}
.qm-hyperion-icon-topheader-admin:before {
  content: "\e020";
}
.qm-hyperion-icon-navigation-tool:before {
  content: "\e016";
}
.qm-hyperion-icon-topheader-calendar:before {
  content: "\e021";
}
.qm-hyperion-icon-topheader-notification:before {
  content: "\e022";
}
.qm-hyperion-icon-topheader-setting:before {
  content: "\e023";
}
.qm-hyperion-icon-topheader-uservoice:before {
  content: "\e024";
}
.qm-hyperion-icon-trackingwidget-edit:before {
  content: "\e041";
}
.qm-hyperion-icon-trackingwidget-view:before {
  content: "\e040";
}
.qm-hyperion-icon-widget-close:before {
  content: "\e050";
}
.qm-hyperion-icon-widget-collapse:before {
  content: "\e051";
}
.qm-hyperion-icon-widget-download:before {
  content: "\e052";
}
.qm-hyperion-icon-widget-duplicate:before {
  content: "\e053";
}
.qm-hyperion-icon-widget-expand:before {
  content: "\e054";
}
.qm-hyperion-icon-widget-fullscreen:before {
  content: "\e055";
}
.qm-hyperion-icon-widget-refresh:before {
  content: "\e056";
}
.qm-hyperion-icon-widget-setting:before {
  content: "\e057";
}
.qm-hyperion-icon-widget-upload:before {
  content: "\e058";
}
.qm-hyperion-icon-diamond:before {
  content: "\e071";
}
.qm-hyperion-icon-favorites-delete:before {
  content: "\e060";
}
.qm-hyperion-icon-favorites-query:before {
  content: "\e062";
}
.qm-hyperion-icon-favorites-download:before {
  content: "\e061";
}
.qm-hyperion-icon-login-arrow:before {
  content: "\e080";
}
.qm-hyperion-icon-login-key:before {
  content: "\e081";
}
.qm-hyperion-icon-arrow-down:before {
  content: "\e093";
}
.qm-hyperion-icon-grid-triangle-down:before {
  content: "\e0a0";
}
.qm-hyperion-icon-arrow-left:before {
  content: "\e092";
}
.qm-hyperion-icon-arrow-right:before {
  content: "\e091";
}
.qm-hyperion-icon-arrow-up:before {
  content: "\e090";
}
.qm-hyperion-icon-double-arrow-down:before {
  content: "\e094";
}
.qm-hyperion-icon-double-arrow-up:before {
  content: "\e095";
}
.qm-hyperion-icon-grid-frozen-mark:before {
  content: "\e096";
}
.qm-hyperion-icon-grid-resizing-arrow-left:before {
  content: "\e097";
}
.qm-hyperion-icon-grid-resizing-arrow-right:before {
  content: "\e098";
}
.qm-hyperion-icon-grid-resizing-arrows:before {
  content: "\e099";
}
.qm-hyperion-icon-search-icon:before {
  content: "\e09a";
}
.qm-hyperion-icon-column-picker-lock:before {
  content: "\e09b";
}
.qm-hyperion-icon-checkmark:before {
  content: "\e070";
}
.qm-hyperion-icon-exclamation:before {
  content: "\e072";
}
.qm-hyperion-icon-registration-password:before {
  content: "\e073";
}
.qm-hyperion-icon-registration-login:before {
  content: "\e074";
}
.qm-hyperion-icon-registration-contact:before {
  content: "\e075";
}
.qm-hyperion-icon-navigation2-dashboard:before {
  content: "\e076";
}
.qm-hyperion-icon-navigation2-display:before {
  content: "\e077";
}
.qm-hyperion-icon-navigation2-extension:before {
  content: "\e078";
}
.qm-hyperion-icon-navigation2-negative:before {
  content: "\e079";
}
.qm-hyperion-icon-navigation2-optimization:before {
  content: "\e07a";
}
.qm-hyperion-icon-navigation2-publisher:before {
  content: "\e07b";
}
.qm-hyperion-icon-navigation2-report:before {
  content: "\e07c";
}
.qm-hyperion-icon-navigation2-search:before {
  content: "\e07d";
}
.qm-hyperion-icon-navigation2-social:before {
  content: "\e07e";
}
.qm-hyperion-icon-navigation2-tool:before {
  content: "\e07f";
}
.qm-hyperion-icon-trackingwidget-campaign:before {
  content: "\e030";
}
.qm-hyperion-icon-trackingwidget-clicks:before {
  content: "\e031";
}
.qm-hyperion-icon-trackingwidget-impression:before {
  content: "\e032";
}
.qm-hyperion-icon-trackingwidget-profits:before {
  content: "\e033";
}
.qm-hyperion-icon-trackingwidget-roi:before {
  content: "\e034";
}
.qm-hyperion-icon-navigation-favorite-star:before {
  content: "\e082";
}
.qm-hyperion-icon-navigation-logout:before {
  content: "\e025";
}
.qm-hyperion-icon-grid-triangle-up:before {
  content: "\e0a1";
}
